.header{
  
    
}
.sticky-first {
    top: -100px;
   
  }
  .sticky-second {
    background: none;
    background-color: #ff0000;
    position: fixed;
    top: 0;
  }
.fighter{


    background: url(../../images/fighter_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}


