// Footer Start
.footer {
  padding: 140px 0px 100px;
  .container {
    .footer-items {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      justify-content: space-between;
      .footer-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 15px;
        width: 35%;
        .logo {
          width: 158px;
          height: 38px;
          margin-bottom: 30px;
        }
        h4 {
          line-height: 1.2em;
          color: #fff;
          font-family: "Aclonica", sans-serif;
          font-size: 20px;
          margin-bottom: 30px;
          font-weight: 500;
        }
        p {
          margin-bottom: 10px;
          color: #bebebe;
          font-family: "Poppins", sans-serif;
          line-height: 29px;
          font-size: 15px;
          font-weight: 300;
        }
        a {
          color: #bebebe;
          font-family: "Poppins", sans-serif;
          line-height: 29px;
          font-size: 15px;
          font-weight: 300;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #ff0000;
          }
        }
        form {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          input {
            padding: 11px 30px;
            font-size: 13px;
            background-color: #f9f9fe;
            border: 1px solid transparent;
            outline: none;
            font-family: "Aclonica", sans-serif;
          }
          .footer-btn {
            padding: 12px 12px;
            font-size: 12px;
            border: 2px solid;
            cursor: pointer;
            background-size: 100% auto;
            outline: none;
            background-image: linear-gradient(
              to left,
              #c6019a 0%,
              #ff0000 100%
            );
            transition: all 0.4s ease-in-out;
            i {
              color: #fff;
              font-size: 15;
            }
          }
        }
      }
    }
  }
}
.copyright {
  background-color: #0b111f;
  padding: 30px 0px;
  .container {
    .copyright-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .copyright-subject {
        p {
          color: #888;
          font-family: "Poppins", sans-serif;
          line-height: 29px;
          font-size: 15px;
          margin-bottom: 0px;
          font-weight: 300;
          a {
            color: red;
            &:hover {
              color: rgba(255, 0, 0, 0.755);
            }
          }
        }
      }
      .copyright-social {
        ul {
          display: flex;
          gap: 28px;
          i {
            color: #888;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
// Footer END 